config save_at_exit
device_alsa_device default
device_alsa_mixer channel
device_color_bgr15 yes
device_color_bgr16 yes
device_color_bgr24 yes
device_color_bgr32 yes
device_color_bgr8 yes
device_color_palette8 yes
device_color_yuy2 yes
device_joystick auto
device_keyboard auto
device_mouse none
device_raw_firstkeyhack no
#device_raw_mousedev[0] auto
#device_raw_mousedev[1] auto
#device_raw_mousedev[2] auto
#device_raw_mousedev[3] auto
#device_raw_mousetype[0] pnp
#device_raw_mousetype[1] pnp
#device_raw_mousetype[2] pnp
#device_raw_mousetype[3] pnp
device_sdl_samples 512
device_sound auto
device_video auto
device_video_cursor auto
device_video_doublescan yes
device_video_fastchange no
device_video_interlace yes
device_video_output fullscreen
device_video_overlaysize auto
device_video_singlescan yes
difficulty none
display_brightness 1
display_gamma 1
display_orientation 
display_restoreatexit yes
display_restoreatgame no
display_size 648
event_alpha no
emulator "MAME" sdlmame "groovymame" ""
emulator_roms "MAME" "/home/roms/MAME/roms"
emulator_flyers "MAME" "/home/roms/MAME/fly"
emulator_cabinets "MAME" "/home/roms/MAME/cab"
emulator_marquees "MAME" "/home/roms/MAME/mrq"
emulator_icons "MAME" "/home/roms/MAME/ico"
emulator_titles "MAME" "/home/roms/MAME/ttl"
emulator_altss "MAME" "/home/roms/MAME/snaps"
#
emulator_layout "MAME" /home/roms/Layouts/rv2/rv2.amp
emulator_layout "Atari2600" /home/roms/Layouts/vertical/vertical.amp
#
emulator "Atari2600" generic "switchres" "a2600 --xrandr --emulator stella --rom %p --args -fullscreen 1"
emulator_altss "Atari2600" "/home/roms/Atari2600_snaps"
emulator_roms "Atari2600" "/home/roms/Atari2600_roms"
#
emulator "MasterSystem" generic "switchres" "sms --xrandr --emulator mednafen --rom %p"
emulator_altss "MasterSystem" "/home/roms/Master_snaps"
emulator_roms "MasterSystem" "/home/roms/Master_roms"
#
emulator "NES" generic "switchres" "nes --emulator nestopia --rom %p"
emulator_altss "NES" "/home/roms/NES_snaps"
emulator_roms "NES" "/home/roms/NES_roms"
#
emulator "SegaGenesis" generic "switchres" "genesis --xrandr --emulator mednafen --rom %p"
emulator_altss "SegaGenesis" "/home/roms/SegaGenesis_snaps"
emulator_roms "SegaGenesis" "/home/roms/SegaGenesis_roms"
#
emulator "SNES" generic "switchres" "snes --emulator mednafen --args %p"
emulator_altss "SNES" "/home/roms/SNES_snaps"
emulator_roms "SNES" "/home/roms/SNES_roms"
#
emulator "PCEngine-Supergrafx" generic "switchres" "sgx --xrandr --emulator mednafen --rom %p"
emulator_altss "PCEngine-Supergrafx" "/home/roms/PCE_snaps"
emulator_roms "PCEngine-Supergrafx" "/home/roms/PCE_roms"
#
emulator "N64" generic "switchres" "n64 --xrandr --emulator mupen64plus --rom %p --args --fullscreen"
emulator_altss "N64" "/home/roms/N64_snaps"
emulator_roms "N64" "/home/roms/N64_roms"
#
emulator "PSX" generic "switchres" "psj --xrandr --emulator mednafen --rom %p"
emulator_altss "PSX" "/home/roms/PSX_snaps"
emulator_roms "PSX" "/home/roms/PSX_roms"
#
emulator "Saturn" generic "switchres" "saturn --xrandr --emulator yabause --rom %p --args --fullscreen -a"
emulator_altss "Saturn" "/home/roms/Saturn_snaps"
emulator_roms "Saturn" "/home/roms/Saturn_roms"
#
emulator "UME-Atari2600" generic "groovymame" "a2600 -cart %p"
emulator_altss "UME-Atari2600" "/home/roms/Atari2600_snaps"
emulator_roms "UME-Atari2600" "/home/roms/Atari2600_roms"
#
emulator "UME-MasterSystem" generic "groovymame" "sms -cart %p"
emulator_altss "UME-MasterSystem" "/home/roms/Master_snaps"
emulator_roms "UME-MasterSystem" "/home/roms/Master_roms"
#
emulator "UME-NES" generic "groovymame" "nes -cart %p"
emulator_altss "UME-NES" "/home/roms/NES_snaps"
emulator_roms "UME-NES" "/home/roms/NES_roms"
#
emulator "UME-SegaGenesis" generic "groovymame" "genesis -cart %p"
emulator_altss "UME-SegaGenesis" "/home/roms/SegaGenesis_snaps"
emulator_roms "UME-SegaGenesis" "/home/roms/SegaGenesis_roms"
#
emulator "UME-SNES" generic "groovymame" "snes -cart %p"
emulator_altss "UME-SNES" "/home/roms/SNES_snaps"
emulator_roms "UME-SNES" "/home/roms/SNES_roms"
#
emulator "UME-SegaMegaCD" generic "groovymame" "segacd -cart %p"
emulator_altss "UME-SegaMegaCD" "/home/roms/MegaCD_snaps"
emulator_roms "UME-SegaMegaCD" "/home/roms/MegaCD_roms"
#
emulator "UME-Sega32X" generic "groovymame" "32x -cart %p"
emulator_altss "UME-Sega32X" "/home/roms/32X_snaps"
emulator_roms "UME-Sega32X" "/home/roms/32X_roms"
#
emulator "UME-PCEngine-Supergrafx" generic "groovymame" "sgx -cart %p"
emulator_altss "UME-PCEngine-Supergrafx" "/home/roms/PCE_snaps"
emulator_roms "UME-PCEngine-Supergrafx" "/home/roms/PCE_roms"
#
emulator "UME-3DO" generic "groovymame" "3do -cdrom %p"
emulator_altss "UME-3DO" "/home/roms/3DO_snaps"
emulator_roms "UME-3DO" "/home/roms/3DO_roms"
#
emulator "UME-Jaguar" generic "groovymame" "jaguar -cart %p"
emulator_altss "UME-Jaguar" "/home/roms/Jaguar_snaps"
emulator_roms "UME-Jaguar" "/home/roms/Jaguar_roms"
#
emulator "UME-NeoGeoCDZ" generic "groovymame" "neocdz -cdrom %p"
emulator_altss "UME-NeoGeoCDZ" "/home/roms/NeoCD_snaps"
emulator_roms "UME-NeoGeoCDZ" "/home/roms/NeoCD_roms"
#
emulator "UME-AmigaCD" generic "groovymame" "cd32 -cdrom %p"
emulator_altss "UME-AmigaCD" "/home/roms/AmigaCD_snaps"
emulator_roms "UME-AmigaCD" "/home/roms/AmigaCD_roms"
#
emulator "UME-N64" generic "groovymame" "n64 -cart %p"
emulator_altss "UME-N64" "/home/roms/N64_snaps"
emulator_roms "UME-N64" "/home/roms/N64_roms"
#
emulator "UME-PSX" generic "groovymame" "psu -cdrom %p"
emulator_altss "UME-PSX" "/home/roms/PSX_snaps"
emulator_roms "UME-PSX" "/home/roms/PSX_roms"
#
emulator "UME-Saturn" generic "groovymame" "saturn -cdrom %p"
emulator_altss "UME-Saturn" "/home/roms/Saturn_snaps"
emulator_roms "UME-Saturn" "/home/roms/Saturn_roms"
#
event_assign up up or 8_pad or 1joy_up
event_assign down down or 2_pad or 1joy_down
event_assign left left or 4_pad or 1joy_left
event_assign right right or 6_pad or 1joy_right
event_assign enter enter or enter_pad or 1 or 1joy_1
event_assign esc esc or 2 or 2joy_7
event_assign space space or 1joy_4
event_assign home home
event_assign end end
event_assign pgup pgup
event_assign pgdn pgdn
event_assign del del or lalt or 1joy_6
event_assign ins insert or lcontrol or 1joy_3
event_assign shutdown lcontrol esc or p or 2 5 or 1joy_8
event_assign mode tab or z 
event_assign help f1
event_assign favorites_next f2 or q or 1joy_4
event_assign type f3
event_assign exclude f4
event_assign sort f5
event_assign setfavorites f9 or s or 1joy_5
event_assign settype f10
event_assign runclone f12 or a or 1joy_2
event_assign command f8
event_assign menu backquote or backslash or lshift or 1joy_7 2joy_4 2joy_7 2joy_6
event_assign emulator_pre f6 or 5
event_assign emulator_next f7 or 6
event_assign rotate 0_pad
event_assign lock scrlock
event_assign preview space
event_assign mute period_pad
event_assign mameinfo f11 or 1joy_7
event_mode fast
event_repeat 500 50
icon_space 43
idle_screensaver 60 10
idle_screensaver_preview snap
idle_start 0 0
include 
input_hotkey yes
#lock no
#menu_base 1733
#menu_rel 5
romset_type split
misc_exit all 
#shutdown
#misc_quiet yes
misc_quiet no
security_exit yes
mame_history /home/arcade/history.dat
mame_info /home/arcade/mameinfo.dat
mode list_mixed
mode_skip 
mouse_delta 100
preview snap
#preview_default none
preview_default /home/arcade/.advance/advmenuplus.png
preview_default_cabinet none
preview_default_flyer none
preview_default_icon none
preview_default_marquee none
preview_default_snap none
preview_default_title none
preview_expand 1.15
rem_selected yes
sort parent
sound_background_begin none
sound_background_end none
sound_background_loop sloop.mp3 
sound_background_loop_dir "mp3"
sound_background_start none
sound_background_stop none
sound_buffer 0.1
sound_foreground_begin default
sound_foreground_end default
sound_foreground_key none
sound_foreground_start sstart.mp3 
sound_foreground_stop default 
sound_latency 0.1
sound_samplerate 44100
sound_volume -3
ui_background none
ui_bottombar yes
ui_clip single
ui_color help ffffff 295d9d
ui_color help_tag 808080 295d9d
ui_color submenu_bar 808080 295d9d
ui_color submenu_item ffffff 295d9d
ui_color submenu_item_select 808080 ffffff
ui_color submenu_hidden 808080 295d9d
ui_color submenu_hidden_select 295d9d ffffff
ui_color menu_item ffffff 295d9d
ui_color menu_hidden 808080 295d9d
ui_color menu_tag 808080 295d9d
ui_color menu_item_select 295d9d ffffff
ui_color menu_hidden_select 808080 ffffff
ui_color menu_tag_select 808080 ffffff
ui_color bar ffffff 295d9d
ui_color bar_tag 808080 295d9d
ui_color bar_hidden 808080 295d9d
ui_color grid ffffff 295d9d
ui_color backdrop 295d9d 295d9d
ui_color icon 295d9d ffffff
ui_color cursor 295d9d ffffff
ui_command_error Error running the command
ui_command_menu Command...
ui_console no
ui_exit none
ui_font auto
ui_fontsize 35
#ui_fontsize auto
ui_game snap
ui_gamemsg "Loading"
ui_help none
ui_menukey yes
ui_skipbottom 0
ui_skipleft 0
ui_skipright 0
ui_skiptop 0
#ui_startup none
ui_startup yes
MAME/mode list_mixed
mame/mode list_mixed
ui_topbar yes
ui_translucency 0.6
MAME/menu_base 0
MAME/menu_rel 0
MAME/preview snap
favorites "Favorites"
favorites_include "All Games"
type_include "<undefined>"
type_include "Application"
type_include "Arcade"
type_include "Bet 'em Up"
type_include "Breakout"
type_include "Computer"
type_include "Console"
type_include "Fight"
type_include "Filler"
type_include "Flipper"
type_include "Gun"
type_include "Puzzle"
type_include "RPG"
type_include "Racing"
type_include "Shot 'em Up"
type_include "Sport"
menu_systems no
menu_systems_attrib missing exclude
menu_systems_attrib clone exclude
menu_pos 0 0
favorites_filtertype no
emulator_include "MAME"
type "<undefined>"
type "Application"
type "Arcade"
type "Bet 'em Up"
type "Breakout"
type "Computer"
type "Console"
type "Fight"
type "Filler"
type "Flipper"
type "Gun"
type "Puzzle"
type "Racing"
type "RPG"
type "Shot 'em Up"
type "Sport"
emulator_attrib "MAME" missing exclude
emulator_attrib "MAME" clone exclude
emulator_attrib "MAME" bad exclude
emulator_attrib "MAME" vector include
emulator_attrib "MAME" vertical include
emulator_attrib "MAME" system exclude
emulator_attrib "MAME" softwarelist include
emulator_attrib "MAME" neogeo include
emulator_attrib "MAME" chd include
emulator_attrib "MAME" deco exclude
emulator_attrib "MAME" playchoice exclude
emulator_attrib "MAME" mechanical exclude
emulator_attrib "MAME" mahjong exclude
emulator_attrib "MAME" beatmania exclude
emulator_attrib "MAME" pokercasino exclude
emulator_attrib "MAME" quiztrivial exclude
emulator_attrib "MAME" golfdarfish exclude
emulator_attrib "Atari2600" missing exclude
emulator_attrib "Atari2600" clone exclude
emulator_attrib "MasterSystem" missing exclude
emulator_attrib "MasterSystem" clone exclude
emulator_attrib "NES" missing exclude
emulator_attrib "NES" clone exclude
emulator_attrib "SegaGenesis" missing exclude
emulator_attrib "SegaGenesis" clone exclude
emulator_attrib "SNES" missing exclude
emulator_attrib "SNES" clone exclude
emulator_attrib "PCEngine-Supergrafx" missing exclude
emulator_attrib "PCEngine-Supergrafx" clone exclude
emulator_attrib "N64" missing exclude
emulator_attrib "N64" clone exclude
emulator_attrib "PSX" missing exclude
emulator_attrib "PSX" clone exclude
emulator_attrib "Saturn" missing exclude
emulator_attrib "Saturn" clone exclude
emulator_attrib "UME-Atari2600" missing exclude
emulator_attrib "UME-Atari2600" clone exclude
emulator_attrib "UME-MasterSystem" missing exclude
emulator_attrib "UME-MasterSystem" clone exclude
emulator_attrib "UME-NES" missing exclude
emulator_attrib "UME-NES" clone exclude
emulator_attrib "UME-SegaGenesis" missing exclude
emulator_attrib "UME-SegaGenesis" clone exclude
emulator_attrib "UME-SNES" missing exclude
emulator_attrib "UME-SNES" clone exclude
emulator_attrib "UME-SegaMegaCD" missing exclude
emulator_attrib "UME-SegaMegaCD" clone exclude
emulator_attrib "UME-Sega32X" missing exclude
emulator_attrib "UME-Sega32X" clone exclude
emulator_attrib "UME-PCEngine-Supergrafx" missing exclude
emulator_attrib "UME-PCEngine-Supergrafx" clone exclude
emulator_attrib "UME-3DO" missing exclude
emulator_attrib "UME-3DO" clone exclude
emulator_attrib "UME-Jaguar" missing exclude
emulator_attrib "UME-Jaguar" clone exclude
emulator_attrib "UME-NeoGeoCDZ" missing exclude
emulator_attrib "UME-NeoGeoCDZ" clone exclude
emulator_attrib "UME-AmigaCD" missing exclude
emulator_attrib "UME-AmigaCD" clone exclude
emulator_attrib "UME-N64" missing exclude
emulator_attrib "UME-N64" clone exclude
emulator_attrib "UME-PSX" missing exclude
emulator_attrib "UME-PSX" clone exclude
emulator_attrib "UME-Saturn" missing exclude
emulator_attrib "UME-Saturn" clone exclude
