UI vesamenu.c32
PROMPT 0
TIMEOUT 3000


MENU BACKGROUND splash.png
MENU CLEAR
MENU ROWS 10
MENU MARGIN 0
MENU VSHIFT 9
MENU TABMSGROW 15
MENU CMDLINEROW 16
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

# KERNEL_DEFAULT_CMDLINE=${KRNL_CMDLINE}

# Refer to http://syslinux.zytor.com/wiki/index.php/Doc/menu

MENU COLOR BORDER      *       #00000000 #00000000 none
MENU COLOR TITLE       0       #ffffffff #00000000 none
MENU COLOR SEL         7;37;40 #e0ffffff #20ffffff all
MENU COLOR UNSEL       0       #ffffffff #00000000 none
MENU COLOR HELP        0       #ffffffff #00000000 none
MENU COLOR TIMEOUT     0       #ffffffff #00000000 none
MENU COLOR TIMEOUT_MSG 0       #ffffffff #00000000 none
MENU COLOR TABMSG      *       #ffffffff #00000000 none
MENU COLOR CMDMARK     0       #ffffffff #00000000 none
MENU COLOR CMDLINE     0       #ffffffff #00000000 none
#---------------------

LABEL [15khz]
MENU LABEL [15khz]
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-15khz ${KRNL_CMDLINE} video=640x480iS
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-15khz.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL [25khz]
MENU LABEL [25khz]
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-15khz ${KRNL_CMDLINE} video=512x384S
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-15khz.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL [31khz]
MENU LABEL [31khz]
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-15khz ${KRNL_CMDLINE} video=640x480S
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-15khz.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL [SVGA/LCD Monitor]
MENU LABEL [SVGA/LCD Monitor]
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-15khz ${KRNL_CMDLINE}
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-15khz.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL [Intel and Nvidia 15kHz]
MENU LABEL [Intel and Nvidia 15kHz]
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-15khz ${KRNL_CMDLINE} video=1280x480iS
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/groovyarcade/boot/%ARCH%/initramfs-linux-15khz.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL [NTSC]
MENU LABEL [NTSC]
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-15khz ${KRNL_CMDLINE} video=720x480iS
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-15khz.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL [PAL]
MENU LABEL [PAL]
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-15khz ${KRNL_CMDLINE} video=768x576iS
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-15khz.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL [EDID Progressive]
MENU LABEL [EDID Progressive]
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-15khz ${KRNL_CMDLINE} drm.edid_firmware=edid/generic_15_super_resp.bin video=e
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-15khz.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL [EDID Interlaced]
MENU LABEL [EDID Interlaced]
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-15khz ${KRNL_CMDLINE} drm.edid_firmware=edid/generic_15_super_resi.bin video=e
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-15khz.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL Boot from first Hard Drive
MENU LABEL Boot existing OS
COM32 /syslinux/chain.c32
APPEND hd0 0
